.app-container {
  width: 100%;
  height: 100dvh;
  height: 100vh;
  background: hsla(180, 50%, 80%, 0.3);
}

.site-header {
  width: 100%;
  height: 20vh;
  border: 1px solid hsla(180, 50%, 50%, 0.5);
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  

  & .search-weather {
    appearance: none;
    width: 40vw;
    height: 40px;
    border-radius: 9999px;
    background: hsla(180, 15%, 60%, 0.3);
    padding-left: 1rem;
  }

  & .current-city-container,
  & .logo-container {
    height: 60px;
    width: 60px;
    border: 1px solid hsla(180, 50%, 50%, 0.5);
  }
}

