.astro-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid hsla(0, 0% 0%, 0.3);
  background-image: linear-gradient(-72deg, hsl(240, 50%, 20%), hsl(55, 90%, 80%));
  padding: calc(0.2rem + 0.4vw);
  font-weight: 600;

  & .sun-container {
    position: relative;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: start;

    & p {
      text-align: left;
    }
    
    & .sun-moon-icon-outer {
      position: absolute;
      height: 120px;
      width: 120px;
      top: 50%;
      left: 60%;
      transform: translateY(-50%);

      & .sun-moon-icon-inner {
        position: relative;
        inset: 0;
      
        & .sun-bg {
          position: absolute;
          left: 34px;
          top: 20px;
          width: 80px;
          height: 80px;
          background-color: transparent;
          background-image: radial-gradient(circle 40px at 50% 100%,
                                            #e56910 0%,
                                            #f6b256 40%,
                                            #f7f4b3 80%, 
                                            transparent 94%); 
          background-size: 100% 50%;
          background-repeat: no-repeat;
          transform: rotate(-90deg);
        }
        & .moon-bg {
          position: absolute;
          left: 34px;
          top: 20px;
          width: 80px;
          height: 80px;
          background-color: transparent;
          background-image: radial-gradient(circle 40px at 50% 100%, 
                                            #d4d4e0 0%, 
                                            #d4e0e0 40%, 
                                            #e0dad4 80%,
                                            transparent 87%); 
          background-size: 100% 50%;
          background-repeat: no-repeat;
          transform: rotate(90deg);
        }

        & .sun-moon-icon {
          position: absolute;
          inset: 0;
          z-index: 2;
        }
      }
    }
  }

  & .moon-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;

    & p {
      text-align: right;
    }
  }
}
