.day-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 35px 35px;
  padding-top: 1rem;
  padding-left: 1rem;

  & .temp-grid {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: repeat(3, 1fr);


    & img.day-card-icon.thermometer-icon {
      grid-column: 1 / 2;
      grid-row: 1 / 4;
      height: 70px;
      width: 70px;
    }
  }
  
  & .wind-flex {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    display: flex;
    align-items: center;
    gap: 1rem;
  }

  & .vis-flex {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  & .humidity-grid {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: repeat(2, 1fr);

    & .rain-icon {
      align-self: center;
      justify-self: center;
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      height: 50px;
      width: 50px;
      margin-right: 1rem;
    }

    & .precipitation {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    & .humidity {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }

  & .chance-flex {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3rem;
    
    & .snow-percentage-flex {
      display: flex;
      gap: 1rem;
    }

    & .rain-percentage-flex {
      display: flex;
      gap: 1rem;
    }
  }

  & .uv-light {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  & img.day-card-icon {
    height: 30px;
    width: 30px;
  }

}

