.day-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 35px;
  padding: 1rem;

  & .temp-grid {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;

    & img.day-card-icon.thermometer-icon {
      grid-column: 1 / 2;
      grid-row: 1 / 4;
      height: 50px;
      width: 50px;
    }

    & .max-temp {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    & .avg-temp {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    & .min-temp {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }
  }
  

  & .humidity-grid {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;

    & .rain-drop-icon {
      justify-self: center;
      grid-column: 1 / 2;
      grid-row: 1 / 4;
      height: 50px;
      width: 50px;
    }

    & .precipitation {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    & .humidity {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    & .percent-rain {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }
  }

  & .wind-grid {
    grid-column:  3 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;

    & .wind-icon {
      justify-self: center;
      grid-column: 1 / 2;
      grid-row: 1 / 4;
      height: 50px;
      width: 50px;
    }

    & .max-wind {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    & .max-gust {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    & .wind-direction {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }
  }

  & .lower-flex {
    grid-column: 1 / 4;
    grid-row: 2 / 3;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    border-top: 2px solid orange;
    padding-top: 1rem;

    & .vis-flex {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    & .snow-percentage-flex {
      display: flex;
      gap: 1rem;
    }

    & .uv-flex {
      display: flex;
      gap: 1rem;
    }

    & .pressure-flex {
      display: flex;
      gap: 1rem;
    }
  }


  & img.day-card-icon {
    height: 30px;
    width: 30px;
  }

}

