.day-card {
  --large-icon-size: clamp(25px, calc(2.4rem + 1vw), 50px);

  display: grid;
  grid-template-rows: 1fr 35px;
  padding: calc(0.2rem + 0.4vw);
  border-radius: 1rem;
  margin-bottom: var(--inline-padding);
  margin-left: var(--inline-padding);
  
  background-image: linear-gradient(72deg, var(--thistle), var(--lemon-chiffon));
  box-shadow: 0 0 5px var(--penn-blue);
  font-weight: 500;
  color: black;

  & .upper-flex {
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .temp-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: start;

    & img.day-card-icon.thermometer-icon {
      grid-column: 1 / 2;
      grid-row: 1 / 4;
      height: var(--large-icon-size);
      width: var(--large-icon-size);
    }

    & .max-temp-flex {
      display: flex;
      gap: 0.5ch;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    & .avg-temp-flex {
      display: flex;
      gap: 0.5ch;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    & .min-temp-flex {
      display: flex;
      gap: 0.5ch;
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }
  }
  

  & .humidity-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    column-gap: 0.5vw;

    & .rain-drop-icon {
      justify-self: center;
      grid-column: 1 / 2;
      grid-row: 1 / 4;
      height: var(--large-icon-size);
      width: var(--large-icon-size);
    }

    & .percent-rain {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    & .precipitation {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    & .humidity {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }

  }

  & .wind-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    column-gap: 1vw;

    & .wind-icon {
      justify-self: center;
      grid-column: 1 / 2;
      grid-row: 1 / 4;
      height: var(--large-icon-size);
      width: var(--large-icon-size);
    }

    & .max-wind {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    & .max-gust {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    & .wind-direction {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }
  }

  & .lower-flex {
    grid-row: 2 / 3;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    gap: 1rem;
    padding-top: 1rem;

    & .vis-flex {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    & .snow-percentage-flex {
      display: flex;
      gap: 1rem;
    }

    & .uv-flex {
      display: flex;
      gap: 1rem;
    }

    & .pressure-flex {
      display: flex;
      gap: 1rem;
    }

    & img.day-card-icon {
      height: 26px;
      width: 26px;
    }
  }
}

