.timeline-outer {
  position: relative;
  overflow-x: scroll;
  scrollbar-gutter: stable;
  scrollbar-color: var(--thistle) transparent;

  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  background: var(--jet); 
  color: black; 
  padding-bottom: 1rem;

  & .timeline-sidebar {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1.63rem;
    padding-top: calc(2.2rem + 0.45vw);
    padding-inline: var(--inline-padding);
    z-index: 2;
    min-width: calc(125px + 4vw);
    height: 100%;
    background: var(--jet); 
    color: white;

    font-size: var(--fsz-16);

    & .imperial-metric-container:hover,
    & .imperial-metric-container:focus-within {
      box-shadow: 0 0 3px 1px var(--lemon-chiffon),
                  0 0 10px var(--thistle);
    }

    & .imperial-metric-container {
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: space-evenly;
      width: 100px;
      height: 25px;
      border-radius: 9999px;
      font-size: var(--fsz-14);
      font-weight: 600;
      box-shadow: 0 0 0 1px var(--lemon-chiffon),
                  0 0 5px var(--thistle);
      color: white;
      cursor: pointer;

      & .imperial-metric-cover {
        position: absolute;
        top: 0;
        left: 50px;
        width: 50px;
        height: 25px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background: var(--jet);
        box-shadow: inset 3px 0 5px var(--thistle);
        
        transition: border-radius 300ms ease-in-out,
                    left 300ms ease-in-out;
      }

      & .imperial-btn.active ~ .imperial-metric-cover {
        border-top-right-radius: 9999px;
        border-bottom-right-radius: 9999px;
        left: 50px;
      }


      & .metric-btn.active ~ .imperial-metric-cover {
        border-top-left-radius: 9999px;
        border-bottom-left-radius: 9999px;
        left: 0;
      }

      & .imperial-btn {
        text-align: center; 
        width: 50px;
        height: 25px;
      }

      & .metric-btn {
        text-align: center;
        width: 50px;
        height: 25px;
      }
    }
    & .sidebar-info {
      width: calc(100% - 1px);
    }

    & .timeline-border-top {
      position: absolute;
      width: 1px;
      height: 1px;
      top: 0;
      right: 0;

      & .timeline-border-top-inner {
        position: relative;
      }
    }

    & .timeline-border-bottom {
      position: absolute;
      width: 1px;
      height: 1px;
      bottom: 0;
      right: 0;

      & .timeline-border-bottom-inner {
        position: relative;
      }
    }

    & .timeline-border-top-inner::after {
      content: '';
      position: absolute;
      height: 20px;
      width: 20px;
      right: -20px;
      top: 1px;
      background-image: radial-gradient(circle at 100% 100%, transparent 68%, var(--jet) 72%);
      z-index: 2;
    }

    & .timeline-border-bottom-inner::after {
      content: '';
      position: absolute;
      height: 20px;
      width: 20px;
      right: -20px;
      top: -20px;
      background-image: radial-gradient(circle at 100% 0%, transparent 68%, var(--jet) 72%);
      z-index: 2;
    }
  }

  & .timeline-inner {
    display: flex;
    flex-wrap: nowrap;
    
    & .timeline-day.day-1 {
      border-left: 0;
      border-right: 3px solid var(--penn-blue);

      & .timeline-hour.hour-0 {
        border-left: 0;
        border-right: 1px solid var(--jet);
        border-top: 1px solid var(--jet);
        border-bottom: 1px solid var(--jet);
      }

    }

    & .timeline-day {
      border-inline: 3px solid var(--penn-blue);
      height: 100%;
      display: flex;
      flex-wrap: nowrap;
      background-image: linear-gradient(85deg,
                        var(--penn-blue),
                        var(--mid-blue),
                        var(--uranian-blue), 
                        var(--lemon-chiffon), 
                        var(--thistle), 
                        var(--penn-blue) 90%);


      & .timeline-hour.hour-0,
      & .timeline-hour.hour-1,
      & .timeline-hour.hour-2,
      & .timeline-hour.hour-3,
      & .timeline-hour.hour-4,
      & .timeline-hour.hour-19,
      & .timeline-hour.hour-20,
      & .timeline-hour.hour-21,
      & .timeline-hour.hour-22,
      & .timeline-hour.hour-23 {
        color: white;
      }

      & .timeline-hour {
        border: 1px solid var(--jet);
        width: 100px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 2rem;

        & .timeline-hour-time {
          text-align: center;
          background: hsla(240, 50%, 50%, 0.3);
          width: 100%;
          font-size: var(--fsz-16);
          font-weight: 700;
          padding: 0.5rem;
        }

        & .timeline-hour-info-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 2rem;
          padding-block: 1rem;


          & .hourly-condition-icon {
            height: 64px;
            width: 64px;
          }

          & .hourly-condition-text {
            text-align: center;
          }

          & .hourly-wind-icon-container {
            --arrow-red: hsla(0, 90%, 60%);
            height: 60px;
            width: 60px;
            border-radius: 30px;
            border: 2px solid hsla(0, 0%, 0%, 0.5);
            background: var(--uranian-blue);
            display: flex;
            align-items: center;
            justify-content: center;

            & .hourly-wind-icon {
              height: 50px;
              width: 8px;
              transform-origin: center;
              transform: translateX(-50%);
              display: flex;
              align-items: center;
              justify-content: center;

              & .hourly-wind-icon-line {
                height: 45px;
                min-width: 3px;
                transform: translateX(250%);
                background-image: linear-gradient(0deg, var(--jet), var(--arrow-red));
              }

              & .hourly-wind-icon-point {
                align-self: start;
                width: 0;
                height: 0;
                transform: translateX(-15%);
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 8px solid var(--arrow-red);
              }
            }
          }
        }
      }
    }
  }

  & .right-bar {
    position: sticky;
    background: var(--jet);
    right: 0px;
    bottom: 0;
    top: 0;
    min-width: var(--inline-padding);
    z-index: 2;
    width: var(--inline-padding);
  }
}

body::-webkit-scrollbar {
  display: none;
}

.timeline-outer::-webkit-scrollbar {
  width: 5px;
}

.timeline-outer::-webkit-scrollbar-track {
  border-radius: 9999px;
  background-color: var(--uranian-blue-03);
}

.timeline-outer::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: var(--thistle-07);
}

.timeline-outer::-webkit-scrollbar-thumb:hover {
  background-color: var(--thistle);
}
