.weather-dashboard {
  width: 100%;
  height: 80dvh;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 150px 50px 1fr 1px;
  padding-top: 0.5rem;

  & .day-card {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  & .astro-card {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  & .center-flex {
    position: relative;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: flex;
    background: var(--jet);
    justify-content: space-between;

    & .dashboard-day-title {
      position: relative;
      text-align: center;
      color: white;
      padding-top: 1rem;
      padding-left: var(--inline-padding);
    }

    & .timeline-switch-container {
      display: flex;
      align-items: center;
      
      & .cover-container {
        --cover-container-width: 100px;
        position: relative;
        width: var(--cover-container-width);
        height: 50px;
        background-image: radial-gradient(circle at 50% 50%, var(--thistle), var(--jet) 50%);
        overflow: hidden;

        & .cover {
          position: absolute;
          z-index: 2;
          width: 100%;
          height: 100%;
          opacity: 1;
          background: var(--jet);
          transition: opacity 300ms ease-in-out;
        }

        & .invisible-radio:checked ~ .cover {
          opacity: 0;
        }

        & .timeline-button {
          --timeline-icon-size: 25px;
          position: absolute;
          top: 12.5px;
          left: calc(calc(var(--cover-container-width) - var(--timeline-icon-size)) / 2);
          height: var(--timeline-icon-size);
          width: var(--timeline-icon-size);
          filter: invert(100%);
          z-index: 3;
          transition: filter 300ms ease-in-out;
        }

        & .invisible-radio:checked ~ .timeline-button {
          filter: invert(0%);
        } 

        & .invisible-radio {
          --invisible-radio-size: clamp(30px, calc(2.9rem + 0.4vw), 50px);
          opacity: 0;
          margin: 0;
          position: absolute;
          top: calc(calc(50px - var(--invisible-radio-size)) / 2);
          left: calc(calc(var(--cover-container-width) - var(--invisible-radio-size)) / 2);
          height: var(--invisible-radio-size);
          width: var(--invisible-radio-size);
          z-index: 4;
          cursor: pointer;
        }
      }
    } 
  }

  & .center-flex::after {
    position: absolute;
    content: '';
    bottom: -20px;
    right: var(--inline-padding);
    height: 20px;
    width: 20px;
    background: radial-gradient(circle at 0% 100%, transparent 68%, var(--jet) 72%);
    z-index: 3;
  }

  & .timeline-outer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  & .bottom-bar {
    position: relative;
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    width: 100%;
    height: 0px;
  }

}

.bottom-bar::after {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  right: var(--inline-padding);
  background-image: radial-gradient(circle at 0% 0%, transparent 68%, var(--jet) 72%);
  z-index: 2;
}

/* Styles for webkit-based browsers */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .bottom-bar::before,
  .bottom-bar::after {
    bottom: 26px;
  }
}

/* Firefox specific styles */
@-moz-document url-prefix() {
  .bottom-bar::before, 
  .bottom-bar::after {
    bottom: 11px;
  }
}

@media (width < 400px) {
  .weather-dashboard {
    --inline-padding: 1vw;
    & .day-card {
      & .temp-grid,
      & .wind-grid,
      & .humidity-grid {
        grid-template-columns: var(--large-icon-size) 1fr;
        gap: var(--inline-padding);
      }
    }
  }
}

@media (width < 772px) {
  .weather-dashboard {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 150px 150px 50px min-content 10px;

    & .day-card {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      margin-right: var(--inline-padding);
    }

    & .astro-card {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }

    & .center-flex {
      grid-row: 3 / 4;
      
      & .timeline-switch-container {
        & .cover-container {
          --cover-container-width: calc(40px + 4vw);
          width: var(--cover-container-width);
          height: 50px;
          
          & .cover {
            width: var(--cover-container-width);
            height: 50px;
          }
        }
      }

      & .dashboard-day-title::after {
        left: 0;
      }
    }
    
    & .timeline-outer {
      grid-row: 4 / 5;

      & .timeline-sidebar {
        left: calc(-125px + var(--inline-padding));
      }

      & .timeline-inner {
        & .timeline-day {
          & .timeline-hour {
            min-height: 300px;
          }
        }
      } 
    }

    & .bottom-bar {
      grid-row: 5 / 6;
    }
  }
}
